.product {
    text-align: center;
    padding-bottom: 70px;
    grid-area: 1 / 2 / 2 / 3;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product::-webkit-scrollbar {
    display: none;
}

.title {
    margin: 20px 0 30px 0;
}

.image {
    max-height: 50%;
    max-width: 90%;
    margin-bottom: 20px;
}

.rate {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 5px;
}

.count {
    font-size: 0.8rem;
}

.star {
    height: 1rem;
    margin-right: 3px;
}

.description {
    margin: 20px auto;
    width: 20%;
}

.price {
    margin-top: 30px;
}

.salePrice {
    color: #00baff;
    font-size: 1.8rem;
}

.product button {
    margin-top: 20px;
}

.product select {
    height: 40px;
    border-radius: 6px;
    margin-right: 1rem;
    font-size: 1rem;
    border: #00baff 2px solid;
    background: #fff;
}

@media (max-width: 1920px) {
    .product {
        align-self: inherit;
    }

    .description {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .product {
        height: calc(100vh - 50px);
    }

    .description {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .product {
        height: calc(100vh - 50px);
    }

    .image {
        max-height: 35%;
        max-width: 80%;
    }

    .description {
        width: 100%;
    }

    .product select {
        height: 31px;
        font-size: 0.7rem;
    }
}