.product {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

.image {
    max-height: 30%;
    max-width: 50%;
    margin: 20px 0;
}

.title {
    margin: 20px 0;
}

.description {
    margin: 20px 0;
}

.price {
    margin: 20px 0;
}

.rate {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 5px;
}

.count {
    font-size: 0.8rem;
}

.star {
    height: 1rem;
    margin-right: 3px;
}

.product button {
    margin: 20px 0;
}