.product {
    text-align: center;
    align-self: stretch;
}

.title {
    margin: 20px 0 30px 0;
}

.image {
    /*max-height: 100%;*/
    /*max-width: 50%;*/
    margin-bottom: 20px;
}

.rate {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 5px;
}

.count {
    font-size: 0.8rem;
}

.star {
    height: 1rem;
    margin-right: 3px;
}

.description {
    margin: 20px auto;
    width: 20%;
}

.price {
    margin-top: 30px;
}

.product button {
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (max-width: 1920px) {
    .image {
        max-height: 40%;
    }

    .product {
        align-self: inherit;
    }

    .description {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .image {
        max-width: 50%;
    }

    .description {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .description {
        width: 100%;
    }
}