.products {
    grid-area: 1 / 2 / 2 / 3;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 20px;
    padding: 20px 0;
}

.products::-webkit-scrollbar {
    display: none;
}