.container {
    display: grid;
    grid-template-columns: 10% 75% 15%;
    height: calc(100vh - 80px);
}

@media (max-width: 420px) {
    .container {
        grid-template-columns: 5% 90% 5%;
    }
}