.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 0;
    height: calc(100vh - 80px);
}

@media (max-width: 1024px) {
    .container {
        height: calc(100vh - 50px);
    }
}

@media (max-width: 420px) {
    .container {
        grid-template-columns: 25% 50% 25%;
    }
}