.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    padding: 10vh;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00baff;
}