.cartbar {
    grid-area: 1 / 3 / 2 / 4;
    text-align: right;
    padding: 20px;
}

@media (max-width: 1024px) {
    .cartbar {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    .cartbar {
        font-size: 0.5rem;
    }
}