.categorybar {
    grid-area: 1 / 1 / 2 / 2;
    padding: 20px;
}

.categorybar h3 {
    margin-bottom: 20px;
}

.categorybar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categorybar hr {
    margin: 20px 0;
}