.header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background: #222831;
    padding: 0 2rem;
    height: 80px;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-decoration: none;
}

.logo img {
    height: 60px;
}