.header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background: #222831;
    padding: 0 2rem;
    position: sticky;
    z-index: 100;
    top: 0;
    height: 80px;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-decoration: none;
}

.logo img {
    height: 60px;
}

@media (max-width: 1024px) {
    .header {
        height: 50px;
        padding: 0 1rem;
    }

    .logo {
        gap: 0.5rem;
    }

    .logo h1 {
        font-size: 1rem;
    }

    .logo img {
        height: 20px;
    }
}

@media (max-width: 786px) {
    .header {
        grid-template-columns: 20% 55% 25%;
        padding: 0 1rem;
    }
}

@media (max-width: 420px) {
    .logo {
        display: none;
    }
    .header {
        padding:  0 .5rem;
    }
}