.search {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search select {
    padding: 0.35rem 0.35rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: white;
    border: none;
    height: 50px;
}

.search select:active,
.search select:focus{
    outline: none;
}

.search input {
    padding: 0.35rem 0.35rem;
    border: none;
    width: 50%;
    height: 50px;
    font-size: 1.1rem;
    box-shadow: none;
}

.search input:active,
.search input:focus{
    outline: none;
}

.search button {
    border-radius: 0 6px 6px 0;
    height: 50px;
}

.icon {
    height: 25px;
}