.search {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search select {
    padding: 0.35rem 0.35rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: white;
    border: none;
    height: 50px;
}

.search select:active,
.search select:focus{
    outline: none;
}

.search input {
    padding: 0.35rem 0.35rem;
    border: none;
    width: 50%;
    height: 50px;
    font-size: 1.1rem;
    box-shadow: none;
}

.search input:active,
.search input:focus{
    outline: none;
}

.search button {
    border-radius: 0 6px 6px 0;
    height: 50px;
}

.icon {
    height: 25px;
}

@media (max-width: 1024px) {
    .search select {
        padding: 0.1rem 0.1rem;
        height: 20px;
        font-size: 0.7rem;
        width: 10%;
    }

    .search input {
        padding: 0.1rem 0.1rem;
        height: 20px;
        font-size: 0.7rem;
    }

    .search button {
        height: 20px;
    }

    .icon {
        height: 15px;
    }
}

@media (max-width: 768px) {
    .search select {
        width: 20%;
    }

    .search input {
        width: 80%;
    }
}

@media (max-width: 420px) {
    .search {
        grid-area: 1 / 1 / 2 / 3;
        justify-content: left;
    }

    .search select {
        display: none;
    }

    .search input {
        height: 30px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        width: 70%;
    }

    .search button {
        height: 30px;
    }
}