.userNavigation {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.userNavigation button {
    height: 50px;
}

.icon {
    height: 32px;
}

@media (max-width: 1024px) {
    .userNavigation {
        gap: 0.5rem;
    }

    .userNavigation button {
        height: 20px;
    }

    .icon {
        height: 15px;
    }
}

@media (max-width: 420px) {
    .userNavigation {
        gap: 0.25rem;
    }
}