.login {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login label {
    font-weight: bold;
    color: #222831;
    margin-bottom: 0.5rem;
}

.login input {
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    width: 100%;
}

.tooltip input {
    margin-bottom: 2rem;
}

.valid {
    border: 1px solid #ccc;
}

.valid:focus {
    outline: none;
    border: 2px solid #222831;
    background: rgba(102, 217, 255, 0.3);
}

.invalid {
    border: 1px solid red;
    background: #fbdada;
}

.invalid:focus {
    outline: none;
    border: 2px solid red;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 125%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 15%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext,
.tooltip input:focus + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.login button {
    border: none;
    background: #00baff;
    color: white;
    padding: 0.3rem 0.75rem;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.1rem;
}

.login button:hover,
.login button:active {
    background: #66D9FF;
    border-color: #66D9FF;
}

.login button:focus {
    outline: none;
}

@media (max-width: 420px) {
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #555;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: 70%;
        margin-left: -320px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }
}