.categorybar {
    grid-area: 1 / 1 / 2 / 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.categorybar hr {
    margin: 20px 0 5px 0;
}

@media (max-width: 1024px) {
    .categorybar {
        font-size: 0.7rem;
    }
}

@media (max-width: 1024px) {
    .categorybar {
        font-size: 0.5rem;
    }
}
