.ratingfilter h3 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container input[type="radio"] {
    display:none;
}

.container input[type="radio"]:checked + label {
    color: #00baff;
}

.container label:hover {
    cursor: pointer;
}

.star {
    height: 1rem;
    margin-right: 3px;
}