.button {
  border: none;
  background: #00baff;
  color: white;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.1rem;
}

.button:hover,
.button:active {
  background: #66D9FF;
  border-color: #66D9FF;
}

.button:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .button {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
}
