.card,
.saleCard {
    border-radius: 25px;
    padding: 0 25px;
    border: solid 2px #ddd;
    display: grid;
    grid-template-rows: 5% 65% 20% 10%;
}

.saleCard {
    border: none;
    box-shadow: inset rgba(0, 186, 255, 1) 0 0 3px 0, inset rgba(0, 186, 255, 1) 0 0 10px 0;
}

.card > a,
.saleCard> a {
    justify-self: center;
    display: flex;
    text-decoration: none;
    color: #000;
}

.fav {
    height: 50px;
    justify-self: right;
}

.fav:hover {
    cursor: pointer;
}

.image {
    max-height: 80%;
    max-width: 100%;
    justify-self: center;
    align-self: center;
}

.title{
    text-align: center;
}

.info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.rate {
    font-weight: bold;
    font-size: 1.1rem;
}

.count {
    font-size: 0.8rem;
}

.star {
    height: 1rem;
    margin-right: 3px;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: right;
}

.salePrice {
    font-size: 1.55rem;
    font-weight: bold;
    justify-self: right;
    color: #00baff;
}

.sale {
    font-size: 1.7rem;
    color: #00baff;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .card,
    .saleCard{
        padding: 0 20px;
        grid-template-rows: 5% 65% 20% 10%;
    }

    .image {
        max-height: 80%;
    }

    .title {
        font-size: 0.7rem;
    }

    .rate {
        font-size: 0.7rem;
    }

    .count {
        font-size: 0.5rem;
    }

    .star {
        height: 0.7rem;
    }

    .price {
        font-size: 0.8rem;
    }

    .salePrice {
        font-size: 0.85rem;
    }

    .sale {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    .card,
    .saleCard{
        padding: 0 20px;
        grid-template-rows: 5% 45% 30% 20%;
    }

    .image {
        max-height: 60%;
    }
}