.card {
    border-radius: 25px;
    padding: 0 25px;
    border: solid 2px #ddd;
    display: grid;
    grid-template-rows: 70% 20% 10%;
    align-content: center;
}

.saleCard {
    border-radius: 25px;
    padding: 0 25px;
    border: solid 5px #00baff;
    display: grid;
    grid-template-rows: 70% 20% 10%;
    align-content: center;
}

.image {
    max-height: 80%;
    max-width: 100%;
    justify-self: center;
    align-self: center;
}

.title{
    text-align: center;
}

.info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.rate {
    font-weight: bold;
    font-size: 1.1rem;
}

.count {
    font-size: 0.8rem;
}

.star {
    height: 1rem;
    margin-right: 3px;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: right;
}

.salePrice {
    font-size: 1.55rem;
    font-weight: bold;
    justify-self: right;
    color: #00baff;
}

.sale {
    font-size: 1.7rem;
    color: #00baff;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .card {
        padding: 0 20px;
        grid-template-rows: 50% 30% 10%;
    }

    .saleCard {
        padding: 0 20px;
        grid-template-rows: 50% 30% 10%;
    }

    .image {
        max-height: 60%;
    }

    .title {
        font-size: 0.7rem;
    }

    .rate {
        font-size: 0.7rem;
    }

    .count {
        font-size: 0.5rem;
    }

    .star {
        height: 0.7rem;
    }

    .price {
        font-size: 0.8rem;
    }

    .salePrice {
        font-size: 0.85rem;
    }

    .sale {
        font-size: 1rem;
    }
}